# Dependencies
node_modules
npm-debug.log

# Documentation
docs
*.md
!package*.json

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Logs
logs
*.log

# Environment files
.env
.env.local
