body {
    font-family: Verdana, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

header {
    background-color: #004b8d;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 20px;
}

#form-container {
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 20px;
}

input, select, button {
    width: calc(100% - 20px);
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #004b8d;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #003a6d;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f0f0f0;
}

.loader {
    border: 18px solid #f3f3f3; /* Light grey */
    border-top: 18px solid #004b8d; /* Blue */
    border-bottom: 18px solid #004b8d; /* Blue */
    border-left: 18px solid #f4f4f9; /* Blue */
    border-right: 18px solid #f4f4f9; /* Blue */
    border-radius: 50%;
    width: 450px;
    height: 450px;
    animation: spin 2s linear infinite;
    margin: 120px auto; /* Center the loader */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#errorMessage {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

  input:invalid {
    border: 2px solid red; /* Red border for invalid input */
    background-color: #ffe6e6; /* Light red background */
  }

  input:invalid::placeholder {
    color: #ff6666; /* Red placeholder text */
  }

  input:invalid + .error-message {
    display: block; /* Show the error message */
    color: red; /* Error message text color */
    font-size: 0.9rem; /* Font size for error message */
    margin-top: 5px; /* Space between input and error message */
  }

  .error-message {
    display: none; /* Hide the error message by default */
  }
